<template name="statementItem">
  <div class="statement">
    <div class="statement-content bs-callout 
                {{#if userResponse}}response
                {{#if userResponse.res}}bs-callout-success
                {{else}}bs-callout-danger
                {{/if}}
                {{/if}}">
      <h6>{{text}}</h6> - <em>{{speaker}}</em>
      <div class="btn-group" role="group" aria-label="...">
        {{#if userResponse}}
        <p> Answer: {{#if answer}}TRUE{{else}}FALSE{{/if}} </p>
        {{else}}
        <button type="button" class="btn btn-success true">True</button>
        <button type="button" class="btn btn-danger false">False</button>
        {{/if}}
      </div>
    </div>
  </div>
</template>
